<!-- Showing info of development team -->

<div class="cardContainer">
   <mat-card class="card">
      <mat-card-title>Jatin Jain</mat-card-title>
      <img mat-card-image height="350px" src="../../assets/Jatin.jpeg">
      <mat-card-content><b>Application Developer</b><br></mat-card-content>
   </mat-card>

   <mat-card class="card">
      <mat-card-title>Bhuvan Jain</mat-card-title>
      
      <img mat-card-image height="350px" src="../../assets/Bhuvan Jain.jpeg">
      <mat-card-content><b>Applictaion Developer</b><br></mat-card-content>
   </mat-card>

   <mat-card class="card">
      <mat-card-title>Karthik V</mat-card-title>
      <img mat-card-image height="350px" src="../../assets/Karthik V.jpeg">
      <mat-card-content><b>Application Developer</b><br></mat-card-content>
   </mat-card>

   <mat-card class="card">
      <mat-card-title>Jeshwanth Jilla</mat-card-title>
      <img mat-card-image height="350px" src="../../assets/Jeshwanth.jpeg">
      <mat-card-content><b>Application Developer</b><br></mat-card-content>
   </mat-card>
  
   <mat-card class="card">
      <mat-card-title>Rahul Verma</mat-card-title>
      <img mat-card-image height="350px" src="../../assets/Rahul.jpeg">
      <mat-card-content><b>Application Developer</b><br></mat-card-content>
   </mat-card>
   
   <mat-card class="card">
      <mat-card-title>Venkatesh prasad</mat-card-title>
      <img mat-card-image height="350px" src="../../assets/Venkatesh.jpeg">
      <mat-card-content><b>Application Developer</b><br></mat-card-content>
   </mat-card>
</div>